@tailwind components;
@tailwind base;
@tailwind utilities;

* {
    font-family: "Open Sans", sans-serif;
    -webkit-user-drag: none;
}
html,
body {
    overscroll-behavior: none;
    height: 100%;
}
